<%= render 'calc' %>
<% if @resources.present? %>
  <div id="tree"></div>

  <script>
      $(function () {
          // noinspection JSAnnotator
          const dagData = <%= raw json_escape @dag_data.to_json %>;

          const svgNode = drawDag($('#tree'), dagData);
      });
  </script>
<% end %>
