<%= render 'calc' %>
<% if @resource_tree.present? %>
  <div id="resource-tree"></div>
  <%= react_component 'ResourceGraph', dagData: @resource_tree.as_json %>
<% end %>
<% if @process_tree.present? %>
  <%= react_component 'ResourceGraph', dagData: @process_tree.as_json %>
<% end %>
